@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1b1b1d;
}

.topBanner {
  flex-direction: column;
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 20px;
  text-align: center;
  appearance: center;
  display: flex;
}

.topBannerTitle {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.topBannerTitleText {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #9800ff, #f62929 50%, #ffa908);
  -webkit-background-clip: text;
  background-clip: text;
}

.tagLine {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

b {
  color: rgb(37, 193, 159);
}

.hero_syme {
  background-color: #2b3137;
  padding: 48px;
  width: 100%;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroLogo {
  animation-duration: 2s;
  animation-name: b;
  float: right;
  height: auto;
  margin-top: 20px;
  padding: 0 20px 20px;
}

.indexCtas {
  flex-wrap: wrap;
  margin-top: 24px;
  align-items: center;
  display: flex;
}

.primaryBtn {
  background-color: rgb(37, 193, 159);
  padding: 9.6px 38.4px;
  border-radius: 6.4px;
  color: black;
  font-size: 22.4px;
}

.footer {
  color: white;
  flex: 1;
  display: flex;
  align-items: end;
}
