.container {
	width: 100%;
	height: 100vh;
	display: flex;
	background: orchid;
}
.left {
    min-width: 300px;
	width: 300px;
	height: 100%;
	background: rgb(246, 247, 251);
	overflow-y: auto;
}
.right {
	flex: 1;
	height: 100%;
	background: purple;
}